@charset "utf-8";

// TODO: Should anything special be done for the <abbr> tag?

// TODO: Load these from the local server instead of Google?
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif|Noto+Sans+Mono');

:root {
  // Fonts
  --default-serif-font: "Noto Serif", serif;
  --default-sans-font: "Noto Sans", sans-serif;
  --default-mono-font: "Noto Sans Mono", monospace;
  --default-font-size: 18px;
  --header-font-size: 2.8em;
  --default-line-height: 1.4em;

  // Gruvbox Dark Colors
  --background-color: #1d2021;
  --foreground-color: #ebdbb2;
  --primary-accent-color: #b16286;

  // Common Colors
  --link-color: #458588;
  --muted-color: #928374;
  --secondary-accent-color: #689d6a;
}

@media (prefers-color-scheme: light) {
  :root {
    // Gruvbox Light Colors
    --background-color: #f9f5d7;
    --foreground-color: #3c3836;
    --primary-accent-color: #8f3f71;
  }

  // TODO: Can this be accomplished using a :root variable?
  code {
    color: #ebdbb2;
  }

  // TODO: Is this really the best way to accomplish this?
  a > code {
    color: var(--link-color);
  }
}

.accent {
  color: var(--primary-accent-color);
}

body {
  margin: 0;
  line-height: var(--default-line-height);
  font-size: var(--default-font-size);
  font-family: var(--default-serif-font);
  background-color: var(--background-color);
  color: var(--foreground-color);
  border-top: 0.5em solid var(--primary-accent-color);
}

main.content {
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;
}

// TODO: It might be worth adding an [extra] section for a "display title" to
// allow <br> elements for more manual control over title display.
header > h1 {
  text-align: center;
  font-size: var(--header-font-size);
  line-height: 3.6rem; // TODO: Is this actually a good idea?
  font-family: var(--default-sans-font);
}

p {
  margin-bottom: 1em;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

blockquote {
  // Default text uses serif, so use sans-serif to differentiate quoted text.
  font-family: var(--default-sans-font);
  font-style: italic;
  // Indent blockquotes, but align the start with where text in code begins.
  margin: 0 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-left: 3px solid var(--secondary-accent-color);
}

img, video {
  // Images/videos should fill the width of their containers if possible.
  width: 100%;
  height: auto;
}

figure {
  // Don't add margins to figures.
  margin: 0;
}

figcaption {
  // De-emphasize figure captions.
  font-size: 0.85rem;
  color: var(--muted-color);
}

pre {
  display: block;
  padding: 0.25rem 1.25rem;
  font-size: 85%;
  border-left: 0.25rem solid var(--primary-accent-color);
}

code {
  padding: 0.05rem 0.125rem;
  background-color: #3c3836;
  // Inline code blocks look less aggresive with a little rounding.
  border-radius: 3px;
}

pre, code {
  overflow: auto;
  font-family: var(--default-mono-font);
}

// Without this the <code> tag gains a little padding that offsets text by like
// 2 pixels. Let's *not* do that.
pre > code {
  padding: 0;
  background-color: #282828;
  // Code inside a pre block doesn't need rounded borders.
  border-radius: unset;
}

// TODO: This probably doesn't need a separate class if h2 is used instead of
// h1, which would be more proper anyway.
.anchor::before {
  content: "#";
  width: 1.75rem;
  display: inline-block;
  margin-left: -1.75rem;
  opacity: 0;
}

h1:hover > .anchor::before {
  opacity: 1;
}

h1:target > .anchor::before {
  opacity: 1;
  color: var(--primary-accent-color);
}
