{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}

{% block title %}Tag - {{ term.name }}{% endblock title %}

{% block meta %}
  <meta name="description" content="Posts tagged as {{ term.name }}">
  <meta property="og:site_name" content="tuckersiemens.com">
  <meta property="og:locale" content="en-us">
  <meta property="og:url" content="{{ current_url }}">
  <meta property="og:title" content="Tag - {{ term.name }}">
  <meta property="og:description" content="Posts tagged as {{ term.name }}">
  <meta property="og:image" content="https://tuckersiemens.com/self.jpg">
  <meta property="twitter:card" content="summary">
  <meta property="twitter:site" content="@TuckerSiemens">
  <meta property="twitter:title" content="Tag - {{ term.name }}">
  <meta property="twitter:description" content="Posts tagged as {{ term.name }}">
  <meta property="twitter:image" content="https://tuckersiemens.com/self.jpg">
{% endblock meta %}

{% block links %}
  <link rel="canonical" href="{{ current_url }}">
{% endblock links %}

{% block content %}
  <main id="content">
    <header>
      <h1>Posts Tagged as "{{ term.name }}"</h1>
    </header>
    {% for page in term.pages %}
      {{ post_macros::snippet(page=page) }}
    {% endfor %}
  </main>
  {% include "footer.html" %}
{% endblock content %}
