{% extends "index.html" %}

{# Override base title to use a 404-specific title. #}
{% block title %}404 Not Found{% endblock title %}

{# Override base meta tags to use 404-specific ones. I can't set an og:url
because I don't know what URL will be served this template. #}
{% block meta %}
  <meta name="description" content="404 Not Found">
  <meta property="og:title" content="404 Not Found">
  <meta property="og:description" content="404 Not Found">
{% endblock meta %}

{# Again, since I dont't know ahead of time what page will be served the this
template. Best we can do is replace the canonical link with a blank. #}
{% block links %}{% endblock links %}

{# Override base content to use 404-specific content. #}
{% block content %}
  <main class="content">
    <header>
      <h1>404 Not Found</h1>
    </header>
    <figure>
      <video src="/beer.mp4" type="video/mp4" autoplay loop controls></video>
      <figcaption>
      Cinemagraph by <a href="https://www.reddit.com/user/digdilem">u/digdilem</a>
      </figcaption>
    </figure>
    <p>Nothing to see here. Why not grab a beer and head <a href="/">home</a>?</p>
  </main>
{% endblock content %}
