<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='description' content='{{ config.description }}'>
    <meta name='author' content='{{ config.extra.author }}'>
    <title>{{ config.title }}</title>
    <link rel='stylesheet' href='/normalize.css'>
    <link rel='stylesheet' href='/main.css'>
  </head>
  <body>
    <main>
      <header class='site-header'>
        <h1 class='site-title'><a href='{{ config.base_url }}'>{{ config.title }}</a></h1>
        <nav class='site-nav'>
          <a href='{{ config.base_url }}/projects' class='{% if page %}{% if page.url == "&#x2F;projects" %}active{% endif %}{% endif %}'>Projects</a>
          <a href='{{ config.base_url }}/resume' class='{% if page %}{% if page.url == "&#x2F;resume" %}active{% endif %}{% endif %}'>Résumé</a>
          <a href='{{ config.base_url }}/about' class='{% if page %}{% if page.url == "&#x2F;about" %}active{% endif %}{% endif %}'>About</a>
        </nav>
      </header>
    {% block content %}
      <ul class='posts'>
        {% for page in pages %}
          {% if page.date %}
            <li><span class='post-meta'>{{ page.date | date(format="%Y-%m-%d") }}</span><a href='{{ page.permalink }}'>{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
    {% endblock content %}
    </main>
  </body>
</html>
