<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ section.title }}{% endblock title %}</title>
    <meta name="author" content="{{ config.extra.author }}">
    {% block meta %}
      <meta name="description" content="{{ section.description }}">
      <meta property="og:url" content="{{ section.permalink }}">
      <meta property="og:title" content="{{ section.title }}">
      <meta property="og:description" content="{{ section.description }}">
      <meta property="og:type" content="profile">
    {% endblock meta %}
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="stylesheet" href="/main.css">
    {% block links %}
      <link rel="canonical" href="{{ section.permalink }}">
    {% endblock links %}
  </head>
  <body>
    {% block content %}
      <header>
        <h1>{{ section.title }}</h1>
      </header>
      {{ section.content | safe }}
    {% endblock content %}
  </body>
</html>
