{% extends "page.html" %}
{% import "post_macros.html" as page_macros %}

{# Override page-specific meta tags to add post-specific ones. In particular,
posts add article metadata. #}
{% block meta %}
  <meta name="description" content="{{ page.description }}">
  <meta property="og:site_name" content="tuckersiemens.com">
  <meta property="og:locale" content="en-us">
  <meta property="og:url" content="{{ page.permalink }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:type" content="article">
  <meta property="og:image" content="https://tuckersiemens.com/self.jpg">
  <meta property="og:article:author" content="{{ config.extra.author }}">
  <meta property="og:article:published_time" content="{{ page.date }}">
  <meta property="og:article:section" content="Posts">
  {% for tag in page.taxonomies.tags %}
    <meta property="og:article:tag" content="{{ tag }}">
  {% endfor %}
  <meta property="twitter:card" content="summary">
  <meta property="twitter:site" content="@TuckerSiemens">
  <meta property="twitter:title" content="{{ page.title }}">
  <meta property="twitter:description" content="{{ page.description }}">
  <meta property="twitter:image" content="https://tuckersiemens.com/self.jpg">
{% endblock meta %}

{% block content %}
  <main>
    <article id="content">
      <header>
        <h1>{{ page.title }}</h1>
        {{ page_macros::meta(page=page) }}
      </header>
      {{ page.content | safe }}
    </article>
  </main>
  {% include "footer.html" %}
{% endblock content %}
