fieldset {
  border-color: #0074d9af;
  border-style: solid;
}

legend {
  color: #fff;
  background-color: #0074d9af;
  padding: 5px;
}

label {
  padding: 10px 15px 10px 60px;
  display: block;
  font-size: 1.5em;
  cursor: pointer;
}

input[type=checkbox] {
  visibility: hidden;
}

.checkbox {
    position: relative;
}

.toggle {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
  height: 40px;
  width: 40px;
}

.toggle + label {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bdbdbd%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center left;
}

.toggle:checked + label {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%2353ae9d%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

.align-center {
  align-items: center;
}

.flex-container {
  display: flex;
}

.flex-container .flex-item {
  flex: 1;
  margin: 2.5px;
}

.flex-container .flex-item:first-child {
  margin-left: 5px;
}

.flex-container .flex-item:last-child {
  margin-right: 5px;
}

.flex-container .flex-item .flex-content {
  width: 100%;
}

.fake-image {
  background-color: #0074d9af;
  color: white;
  text-align: center;
  display: flex;
  margin: auto;
}

.fake-image-text {
  margin: auto;
  font-family: 'Roboto Mono', monospace;
}
